body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

.search-box{
    margin: 5rem ;
    padding: 2rem 0;
    border: solid black 2px;
    display: flex;
    justify-content: center;
}

.in-flex{
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin: 1rem 0;
}

.in-select{
    font-size: larger;
}